.hidden {
    display: none;
}

.hud {
    pointer-events: none;
}

.bomb {
    z-index: 1;
}

.character {
    left: 49%;
}

.alien {
    transform: rotate(180deg);
    z-index: 1;
}


/* Slowly move alien up forever */
@keyframes alien-move-up {
    0% {
        transform: translate(var(--x), 100%);
    }

    10% {
        transform: translate(var(--x), 0);
    }

    100% {
        transform: translate(var(--x), -150%);
    }
}

.alien.main {
    transform: none;
    /* Slowly move alien up forever */
    animation: alien-move-up 100s infinite ease-out;
    transform: translate(var(--x), -150%);
}

@keyframes scaleOut {
    0% {
        display: var(--display, block);
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        display: var(--display, block);
        transform: translate(-50%, -50%) scale(0);
    }

    100% {
        display: none;
        transform: translate(-50%, -50%) scale(0);
    }
}

body.playing .start {
    animation: scaleOut .5s forwards;
}

.alien.middle-h,
.middle-h {
    --x: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start {
    margin-right: inherit;
    margin-left: inherit;
    margin-top: inherit;
    min-width: 190px;
}

.alien {
    z-index: 2;
}